<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<header>
    <h1 style="text-align: center;">Intrusions Detected</h1>
</header>

<main>
    <div class="container">
        <ul style="list-style-type: none; position:relative; padding:0px">
            <% data.forEach(function(data_el) { %>
                <nav class="navbar w-100 navbar-expand-lg nav-fill navbar-light bg-light">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <h5 class="nav-link disabled" style="color:black">Intrusion </h5>
                        </li>
                        <li class="nav-item">
                            <h5 class="nav-link disabled"><b>Source:</b>
                                <%= data_el.src_ap %>
                            </h5>
                        </li>
                        <li class="nav-item">
                            <h5 class="nav-link disabled"><b>Destination:</b>
                                <%= data_el.dst_ap %>
                            </h5>
                        </li>
                    </ul>
                </nav>
                <div class="jumbotron">
                    <li><b>Priority: </b>
                        <%= data_el.priority %>
                    </li>
                    <li><b>Timestamp: </b>
                        <%= data_el.timestamp %>
                    </li>
                    <li><b>Signature ID: </b>
                        <%= data_el.sid %>
                    </li>
                    <li><b>Alert Message: </b>
                        <%= data_el.msg %>
                    </li>
                    <li><b>Protocol: </b>
                        <%= data_el.proto %>
                    </li>
                    <li><b>Service: </b>
                        <%= data_el.service %>
                    </li>
                    <% if ('b64_data' in data_el) { %>
                        <li><b>Base64 Encoded Body: </b>
                            <%= data_el.b64_data %>
                        </li>
                        <% } %>
                </div>
                <% }); %>
        </ul>
    </div>

</main>
<footer>
    <%- include('footer'); %>
</footer>

</body>

</html>
